body{
	margin: 0;
	padding: 0;
	background-color: #dce1de;
}
#containercard{
	color: black;
	background-color: white;
	padding: 30px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	box-shadow: 0px 0px 13px 14px #9ebb9ebd;

}
